.mat-sidenav-content {
  transition: margin-left 0.3s;
  padding: 16px;
}

mat-toolbar{
  position: relative;
  z-index: 5;
}

mat-sidenav-container{
  height: calc(100vh - 64px);
}


mat-toolbar {
  position: relative;
  z-index: 5;
  background: #a5ceee;
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.5);
}

.sidnav {
  background:#a5ceee;
  color: #333333;
}
