<div class="sidenav-header">
  <img [width]="profilePicSize()" [height]="profilePicSize()" src="/MaxDoxIMG.jpg">
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2>Max Doc</h2>
    <p>Davi Faria</p>
  </div>
</div>
<mat-nav-list>
  <a mat-list-item routerLink='/home' routerLinkActive="active-link" #rlaDashboard="routerLinkActive">
    <mat-icon matListItemIcon>view_list</mat-icon>
    <span>Documents</span>
  </a>
  <a mat-list-item routerLink='/' routerLinkActive="active-link" #rlaDashboard="routerLinkActive"  >
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span>---</span>
  </a>


</mat-nav-list>
